<?xml version="1.0" encoding="UTF-8"?>
<phpunit strict="false"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Slim Test Helpers Test Suite">
            <directory suffix="Test.php" phpVersion="5.3.2" phpVersionOperator=">=">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

</phpunit>
